// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  border: 0;
  background-color: transparent;
  margin: 0;
  cursor: pointer;
}

body {
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  background: linear-gradient(180deg, #ffffff 0%, #f6f7fb 100%);
  width: 34.3rem;
  margin: 0 auto;
  position: relative;
  flex: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.app__header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.125rem;
}

.app__header button {
  height: 32px;
}
.app__header button > img {
  height: 100%;
}

.dog-profile {
  position: relative;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
}

.dog-profile__image {
  object-fit: cover;
  height: 46rem;
  border-radius: 15px;
  margin: 0 1rem;
}

.overlay {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) -11.44%,
    rgba(0, 0, 0, 0) 39.97%
  );
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 1rem;
  border-radius: 15px;
}

.info {
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 1.75rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.description {
  font-size: 1.5rem;
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0;
}

.footer__btn {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 10px 20px #e9e9ea;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.footer__btn:disabled {
  box-shadow: none;
  background-color: #f2f2f2;
  opacity: 0.5;
  cursor: not-allowed;
}

.footer__btn:disabled:hover {
  background-color: #f2f2f2;
  box-shadow: inherit;
}

.footer__btn--accept {
  margin-left: 1.5rem;
}

.footer__btn--accept:hover {
  background-color: rgba(219, 255, 244, 1);
  box-shadow: 0px 10px 20px #ccf1e6;
}

.footer__btn--reject:hover {
  background: rgba(255, 231, 239, 1);
  box-shadow: 0px 10px 20px #edd9df;
}

.stamp {
  position: absolute;
  transform: rotate(-30deg);
  transform-origin: center;
  left: 40px;
  top: 150px;
  z-index: 9999;
}
